<div class="col-sm-12 col-md-9 animated fadeInRight">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h4 class="panel-title">Password</h4>
        </div>
        <div class="panel-body">
            <alert-danger has-error="vm.hasError" error-message="vm.errorMessage"></alert-danger>
            <alert-success has-success="vm.hasSuccess" success-message="vm.successMessage"></alert-success>

            <form class="form-horizontal form-validation" name="passwordForm" role="form" novalidate>
                <div class="form-group required">
                    <label class="control-label col-sm-4">Current Password</label>
                    <div class="col-sm-5">
                        <input name="currentPassword" type="password" ng-model="vm.passwords.currentPassword" class="form-control" ng-minlength="6" required>
                        <div ng-if="passwordForm.$submitted" ng-messages="passwordForm.currentPassword.$error">
                            <div ng-message="required" class="error">This field is required.</div>
                            <div ng-message="minlength" class="error">Your password must be at least 6 characters long.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label col-sm-4">New Password</label>
                    <div class="col-sm-5">
                        <input name="newPassword" type="password" ng-model="vm.passwords.newPassword" class="form-control" ng-minlength="6" ng-maxlength="20" required>
                        <div ng-if="passwordForm.$submitted" ng-messages="passwordForm.newPassword.$error">
                            <div ng-message="required" class="error">This field is required.</div>
                            <div ng-message="minlength" class="error">Your password must be at least 6 characters long.</div>
                            <div ng-message="maxlength" class="error">Your password must be max 20 characters long.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="control-label col-sm-4">Confirm Password</label>
                    <div class="col-sm-5">
                        <input name="confirmPassword" type="password" ng-model="vm.passwords.confirmPassword" class="form-control" mm-equal-validator="vm.passwords.newPassword" required>
                        <div ng-if="passwordForm.$submitted" ng-messages="passwordForm.confirmPassword.$error">
                            <div ng-message="required" class="error">This field is required.</div>
                            <div ng-message="equal" class="error">Passwords do not match.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb0">
                    <div class="col-sm-5 col-sm-offset-4">
                        <jp-ng-bs-animated-button class="btn btn-sm btn-success" ng-click="vm.save(passwordForm)" is-submitting="vm.isSubmitting" result="vm.result" options="vm.saveButtonOptions"></jp-ng-bs-animated-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
