<form class="form-horizontal form-validation" name="locationForm" role="form" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()">×</button>
        <h4 class="modal-title">
            <span ng-if="!vm.location.id">Add</span><span ng-if="vm.location.id">Edit</span> Location
        </h4>
    </div>
    <div class="modal-body form-wizard">
        <alert-danger has-error="vm.hasError" error-message="vm.errorMessage"></alert-danger>
        <div class="form-group required" ng-class="{'mb0': !vm.displayDefaultOptions}">
            <label class="control-label col-sm-4">Name</label>
            <div class="col-sm-5">
                <input name="name" type="text" ng-model="vm.location.name" class="form-control" ng-maxlength="60" required>
                <div ng-if="locationForm.$submitted" ng-messages="locationForm.name.$error">
                    <div ng-message="required" class="error">This field is required.</div>
                    <div ng-message="maxlength" class="error">This field text is too long (max 60 characters).</div>
                </div>
            </div>
        </div>

        <div ng-show="vm.displayDefaultOptions">
            <div class="form-group">
                <label class="control-label col-sm-4">Status</label>
                <div class="col-sm-5">
                    <select name="status" ng-model="vm.location.status" ng-options="statusType as statusType for statusType in vm.statusTypes" class="form-control"></select>
                </div>
            </div>
            <div class="form-group mb0">
                <label class="control-label col-sm-4">Default Location</label>
                <div class="col-sm-5">
                    <span class="checkbox"><label><input name="default" type="checkbox" ng-model="vm.location.default"></label></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="vm.cancel()" class="btn btn-sm btn-white">Close</button>
        <jp-ng-bs-animated-button class="btn btn-sm btn-success" ng-click="vm.save(locationForm)" is-submitting="vm.isSubmitting" result="vm.result" options="vm.saveButtonOptions"></jp-ng-bs-animated-button>
    </div>
</form>
