<div id="footer">
    <div class="container-fluid text-center">
        Copyright &copy; <span id="copyright-year">{{::vm.copyrightDate | date:'yyyy'}}</span> <a href="http://www.martinmicunda.com" target="_blank">Martin Micunda</a>. All rights reserved.
        <a href="javascript:void(0);" mm-scroll-up="body" class="pull-right btn-icon btn-circle btn-scroll-to-top fade in" style="margin-top: 11px;"><i class="fa fa-angle-up"></i></a>
    </div>
</div>
