<div class="container-fluid">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h4 class="panel-title">Documents</h4>
        </div>
        <div class="panel-body">
            <div ng-if="vm.hasError" class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="alert alert-danger animated fadeIn">
                        <strong>Error!</strong>
                        {{vm.errorMessage}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="table-filter">
                        Search: <input type="search" ng-model="vm.searchText">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="pull-right">
                        <button type="button" class="btn btn-sm btn-success" ui-sref="app.documents.add">Add Folder</button>&nbsp;
                    </div>
                </div>
            </div>
            <div class="row animated fadeIn mt20">
                <div class="col-lg-1 col-md-2 col-sm-2" ng-repeat="document in vm.documents | filter:vm.searchText">
                    <div>
                        <div class="text-center" style="padding-top: 9px;">
                            <a ui-sref="app.documents-files({id: document.id})"><span class="fa-stack fa-3x">
                              <i class="fa fa-folder-o fa-stack-2x"></i>
                              <i ng-show="document.isLocked" class="fa fa-lock fa-stack-1x pt5"></i>
                            </span></a>
                        </div>
                        <div class="caption text-center">
                            <p>{{::document.name}}</p>
                            <div>
                                <a mm-modal-really-click="vm.deleteDocument(document)" mm-really-header="Delete Folder" mm-really-message="Are you sure you want delete this folder with all documents?" tooltip-placement="top" tooltip="delete"><i class="fa fa-trash fa-fw"></i></a>
                                <a ui-sref=".edit({id: document.id})" tooltip-placement="top" tooltip="edit"><i class="fa fa-pencil fa-fw"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
