<div class="container-fluid">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h4 class="panel-title">Partners</h4>
        </div>
        <div class="panel-body">
            <alert-danger has-error="vm.hasError" error-message="vm.errorMessage"></alert-danger>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="table-filter">
                        Search: <input type="search" ng-init="searchFilter = {}" ng-model="searchFilter.$">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="pull-right">
                        <button type="button" class="btn btn-sm btn-success" ui-sref="app.partners.add">Add Partner</button>&nbsp;
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table si-table class="table table-hover animated fadeIn">
                    <thead>
                        <tr>
                            <th sort-by="name" sort-init="asc">Name</th>
                            <th sort-by="contactPerson">Contact Person</th>
                            <th sort-by="email">Email</th>
                            <th sort-by="phoneNumber">Phone Number</th>
                            <th sort-by="color">Color</th>
                            <th sort-by="status">Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr si-sortable="single" ng-repeat="partner in vm.partners | filter:searchFilter">
                            <td>{{::partner.name}}</td>
                            <td>{{::partner.contactPerson}}</td>
                            <td>{{::partner.email}}</td>
                            <td>{{::partner.phoneNumber}}</td>
                            <td>&nbsp;<span class="label" ng-style="{'background': partner.color}">&nbsp;</span></td>
                            <td><span class="label"
                                      ng-class="{'label-success': partner.status === 'active', 'label-default': partner.status === 'inactive'}">{{::partner.status}}</span></td>
                            <td>
                                <a mm-modal-really-click="vm.deletePartner(partner)" mm-really-header="Delete Partner" mm-really-message="Are you sure you want delete this partner?" tooltip-placement="top" tooltip="delete"><i class="fa fa-trash fa-fw"></i></a>
                                <a ui-sref=".edit({id: partner.id})" tooltip-placement="top" tooltip="edit"><i class="fa fa-pencil fa-fw"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="100%">
                                <si-table-pagination limit="10" class="pull-right" previous-text="← Previous" next-text="Next →"/>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
