<section class="login-container animated fadeIn">
    <div class="login">

        <!--<div class="signin-header">-->
        <!--<section class="logo text-center">-->
        <!--<span class="navbar-logo"></span>-->
        <!--<span style="color:#707478">Employee Scheduling</span>-->
        <!--</section>-->
        <!--</div>-->
        <div class="info text-center">
            <p class="text-small">Enter your email address that you used to register. We will send you an email with a link to reset your password.</p>
        </div>
        <div class="login-body">
            <div class="container">
                <div class="form-container">
                    <alert-danger has-error="vm.hasError" error-message="vm.errorMessage"></alert-danger>
                    <alert-success has-success="vm.hasSuccess" success-message="vm.successMessage"></alert-success>

                    <form class="form-validation" name="passwordResetForm" role="form" ng-submit="vm.resetPassword(passwordResetForm.$valid, passwordResetForm)" novalidate>
                        <fieldset>
                            <div class="form-group required">
                                <div class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light" ng-class="{'error-icon': passwordResetForm.email.$invalid && passwordResetForm.$submitted, 'valid-icon': passwordResetForm.email.$valid && passwordResetForm.$submitted}">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </div>
                                <input type="email" name="email" ng-model="vm.credentials.email" class="form-control input-lg input-round text-center" placeholder="Email Address" required>
                            </div>
                            <div class="form-group">
                                <jp-ng-bs-animated-button class="btn btn-lg btn-success btn-block btn-round text-center" is-submitting="vm.isSubmitting" result="vm.result" options="vm.saveButtonOptions"></jp-ng-bs-animated-button>
                            </div>
                        </fieldset>
                    </form>

                    <section>
                        <p class="text-center link"><a ui-sref="auth.login">Back to Login</a></p>
                        <p class="text-center text-muted text-small">
                            Copyright &copy; <span id="copyright-year">{{::vm.copyrightDate | date:'yyyy'}}</span> <a href="http://www.martinmicunda.com" target="_blank">Martin Micunda</a>. All rights reserved.
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

