<div class="container-fluid">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h4 class="panel-title"><a ui-sref="app.documents">Documents</a> &gt; {{::vm.folderName.name}}</h4>
        </div>
        <div class="panel-body">
            <alert-danger has-error="vm.hasError" error-message="vm.errorMessage"></alert-danger>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="table-filter">
                        Search: <input type="search" ng-model="vm.searchText">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="pull-right">
                        <button type="button" class="btn btn-sm btn-success" ui-sref="app.partners.add">Add Document</button>&nbsp;
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table si-table class="table table-hover animated fadeIn">
                    <thead>
                        <tr>
                            <th sort-by="name" sort-init="asc">Name</th>
                            <th sort-by="dateCreated">Date Created</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr si-sortable="single" ng-repeat="file in vm.files | filter:vm.searchText">
                            <td>{{::file.name}}</td>
                            <td>{{::file.dateCreated | date}}</td>
                            <td>
                                <a mm-modal-really-click="vm.deletePartner(partner)" mm-really-header="Delete File" mm-really-message="Are you sure you want delete this file?" tooltip-placement="top" tooltip="delete"><i class="fa fa-trash fa-fw"></i></a>
                                <a ui-sref=".edit({url: file.url})" tooltip-placement="top" tooltip="view"><i class="fa fa-eye fa-fw"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="100%">
                                <si-table-pagination limit="10" class="pull-right" previous-text="← Previous" next-text="Next →"/>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
